* copy*
*.code-workspace
*.env
*.log
*.spec.*
*.test.*
.editorconfig
.git/
.github/
.idea/
.npmignore
.nvmrc
.travis.yml
.vscode/
CONTRIBUTING.md
README.md
SECURITY.md
__*
badge.png
badge.svg
docs/
node_modules/
sticker.png
sticker.svg
test/
tmp/
